In [17]:
import glob 
import pandas as pd
from os import scandir

In [18]:
# MAC

# name_files = scandir("names")
# df = pd.DataFrame()
# i = 0
# for file in name_files:
#     year = file.name[3:7]
#     with open(f"names/{file.name}", "r") as handle:
#         lines = handle.read().splitlines()
#     names = [[year] + line.split(",") for line in lines]
#     df = df.join(pd.DataFrame(names, columns=["year", "name", "gender", "populairity"]))
#     i += 1
#     if i == 2:
#         break
# df

In [19]:
# WINDOWS

name_files = scandir("names")
df = pd.DataFrame()
all_data = pd.DataFrame()
for file in glob.glob("./names/*.txt"):
    df = pd.read_csv(file, sep=',', header=None)
    df["year"] = int(file[11:15])
    all_data = pd.concat([all_data, df])
df = all_data
df.columns = ["name", "sex", "count", "year"]
print(df)

          name sex  count  year
0         Mary   F  72173  1922
1      Dorothy   F  37716  1922
2        Helen   F  32508  1922
3     Margaret   F  26865  1922
4         Ruth   F  23630  1922
...        ...  ..    ...   ...
8941     Wyley   M      5  1937
8942      Ynes   M      5  1937
8943   Yoshito   M      5  1937
8944  Zacarias   M      5  1937
8945     Zelma   M      5  1937

[1957046 rows x 4 columns]

In [22]:
filtr_09_18_M = (df.year <= 2018) & (df.year >= 2009) & (df.sex == 'M')
filtr_09_18_F = (df.year <= 2018) & (df.year >= 2009) & (df.sex == 'F')
print(df.loc[filtr_09_18_M].groupby("name").sum().sort_values(by="count", ascending=False))
print(df.loc[filtr_09_18_F].groupby("name").sum().sort_values(by="count", ascending=False))

            count   year
name
Noah       180904  20135
Jacob      173195  20135
William    163811  20135
Liam       161558  20135
Ethan      157359  20135
...           ...    ...
Javere          5   2016
Thorbjorn       5   2017
Javez           5   2010
Dailey          5   2016
Sayhan          5   2017

[25604 rows x 2 columns]
                count   year
name
Emma           195305  20135
Sophia         183930  20135
Olivia         183016  20135
Isabella       179015  20135
Ava            156852  20135
...               ...    ...
Naiima              5   2018
Aramide             5   2017
Elizabethanne       5   2015
Elizabel            5   2009
Kayleemarie         5   2011

[34967 rows x 2 columns]

In [35]:
"""
Question 2: How many girls and how many boys were born between 1990 and 2000?
"""
children_1990_2000 = df[df.year.between(1990, 2000, inclusive="both")]
boys_1990_2000 = children_1990_2000[children_1990_2000.sex == "M"]
girls_1990_2000 = children_1990_2000[children_1990_2000.sex == "F"]

boys_total = boys_1990_2000["count"].sum()
girls_total = girls_1990_2000["count"].sum()

print(f"Between years 1990 and 2000 there were born {boys_total} boys and {girls_total} girls.")

Between years 1990 and 2000 there were born 21437454 boys and 19816748 girls.